# URL de la API Gateway tras ejecutar: sam deploy
VITE_API_URL=https://xxxxxxxxxx.execute-api.eu-west-1.amazonaws.com/dev

# Obtenidos de los outputs del sam deploy
VITE_USER_POOL_ID=eu-west-1_XXXXXXXXX
VITE_USER_POOL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
