# Dependencias
node_modules/
backend/**/node_modules/

# Variables de entorno
.env
.env.local
.env.*.local

# AWS
.aws/
aws-exports.js
aws-exports-es5.js
cdk.out/
cdk.context.json
samconfig.toml
*.pem

# Build y despliegue
dist/
frontend/build/
frontend/.cache/
backend/**/*.zip

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
*.log
